
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}


/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}


/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, .2);
}
